.counter-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
  width: 100vw;
  padding: 4rem 0;
  color: white;
  background-color: #555;
}

.counter-section > h1 {
  font-size: 1.8rem;
  font-weight: 700;
}

.counter-section > div {
  color: white;
  font-size: 4rem;
}

.counter-section > button {
  width: 6rem;
  height: 1.5rem;
  color: #222;
  background-color: white;
  border-radius: 0.2rem;
  font-size: 1rem;
  font-weight: 500;
}
